<div id="wordGameContainer" class="panel panel-info">
    <div class="panel-heading">
        <h2>Word Game</h2>
    </div>
    <div class="panel-body">
        <h5>Guess the name of 1 of your favor albums below from the generated shuffled letter?</h5>
        <div id="shuffledWord">
            <mark id="shuffledWordMark">Shuffled Word is <span id="wordGameQSpan">{{wordGameQ}}</span>.</mark>
        </div>

        <div id="correctAnswer">
            <div id="congrats"><strong>YOU ARE CORRECT!</strong></div>
            &nbsp;&nbsp;&nbsp;
            <div id="victoryIcon">
                <span class="glyphicon glyphicon-flag"></span>
                <span class="glyphicon glyphicon-headphones"></span>
                <span class="glyphicon glyphicon-volume-up"></span>
                <span class="glyphicon glyphicon-volume-up"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                <span class="glyphicon glyphicon glyphicon-eye-open"></span>
            </div>
        </div>
        <br><br>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="answer" ng-model="answer">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="checkAnswer()">Answer!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
</div>
</div>
<div id="favAlbumcontainer" class="panel panel-primary">
    <div class="panel-heading">
        <h3>Last.fm's Top Picked Albums up to top 50 ranks via Last FM API - for the Artist you search for</h3>
    </div>
    <div class="panel-body">
        <!-- Todos input -->
        <form role="form" ng-submit="groovyOnLastfm()">
            <div class="text-center">
                <div class="input-group">
                    <input type="text" ng-model="artist" placeholder="Enter a band or a singer to see the top albums ranked by Last.fm API?" class="form-control">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="~~~Groovy~~~">
                    </span>
                </div>
            </div>
        </form>
        <br>
        <div ui-sortable ng-model="albums">
            <p class="text-info" ng-repeat="(key, data) in data.topalbums.album" style="padding:5px 10px; cursor: move;">
                {{data.name}}
            </p>
        </div>
    </div>
</div>