<div id="wordGameContainer" class="panel panel-info">
    <div class="panel-heading">
        <h2>Word Game</h2>
    </div>
    <div class="panel-body">
        <h4>Search top albums below before you play this word game.</h4>
        <h5>Guess the name of 1 of Last.fm top ranked albums below from the generated shuffled letter?</h5>
        <div id="shuffledWord">
            <mark id="shuffledWordMark">Shuffled Word is
                <div id="shuffledWordHolder">
                    <em>__________ (<strong>AWAITING RESULTS FROM SEARCH BELOW</strong>).</em>
                </div>
                <div id="wordGameDiv"><span id="wordGameQSpan">{{wordGameQ}}</span>.  <em>GUESS NOW!!!</em></div>
            </mark>
        </div>
        <br><br>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="answer">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="checkAnswer()">Answer!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="correctAnswer">
            <div id="congrats"><strong>YOU ARE CORRECT!</strong></div>
            &nbsp;&nbsp;&nbsp;
            <div id="victoryIcon">
                <span class="glyphicon glyphicon-flag"></span>
                <span class="glyphicon glyphicon-headphones"></span>
                <span class="glyphicon glyphicon-volume-up"></span>
                <span class="glyphicon glyphicon-volume-up"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                <span class="glyphicon glyphicon glyphicon-eye-open"></span>
            </div>
        </div>
    </div>
</div>
</div>
<div id="favAlbumcontainer" class="panel panel-primary">
    <div class="panel-heading">
        <h4>Do you Want to see the top albums of your favorite band or artist?<br><br>Search Last.fm API (Last.fm is a music website) with the name of the band or artist.
            <br><br>And play a Word Game above to guess the name of a randomly picked album.  Voilá!
        </h4>
    </div>
    <div class="panel-body">
        <!-- Todos input -->
        <form role="form" ng-submit="groovyOnLastfm()">
            <div class="text-center">
                <div class="input-group">
                    <input type="text" ng-model="artist" placeholder="Enter a band or a singer to see the top albums?" class="form-control">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="~~~Groovy Albums~~~">
                    </span>
                </div>
            </div>
        </form>
        <br>
        <div id="lastFmResults" ng-model="albums">
            <div id="album" class="result" ng-repeat="(key, data) in data.topalbums.album" style="padding:5px 10px; cursor: move;">
                <h5 style="color:orchid;">{{data.name}}</h5>
                <em>Play Count on Last.fm Music Site:</em> {{data.playcount}}
                <br>
                <em>Last.fm link:</em> {{data.url}}
            </div>
            <div id="error" style="display: none;">
                <h4><em style="color: red">Last.fm API Response Error</em></h4>
                Last.fm Error Code: {{error}}
                <br><br>
                Error Message: {{message}}
            </div>
            <div id="noTotal" style="display: none;">
                <em style="color: red">No results found... Check your search input...</em>
            </div>
        </div>
    </div>
</div>